/* .App {
  text-align: center;
} */
.black-background {
  background-color: black;
  /* z-index: -1; */
  color: white;
}





.fade-to-about {
  background-image: url(./images/black-white-fade-WHITE.PNG);
  background-size: cover;
  height: 200px;
}
.fade-to-portfolio {
  background-image: url(./images/white-black-fade.PNG);
  background-size: cover;
  height: 200px;
}
.fade-to-contact {
  background-image: url(./images/black-white-fade-WHITE.PNG);
  background-size: cover;
  height: 200px;
}
.footer-img {
  /* position: relative;
  top: -120px; */
  background-image: url(./images/cloud-fade-white.JPG);
  background-size: cover;
  height: 200px;
}

.page-header {
  text-align: justify;
}
