.App {
  text-align: center;
}
.header-img {
  background-image: url(./images/portfolio-hero-fade.JPG);
  background-size: cover;
  height: 200px;
}
.header-img-mirror {
    background-image: url(./images/header-img-mirror.JPG);
  background-size: cover;
  height: 100px;
}
.footer-img {
  /* position: relative;
  top: -120px; */
  background-image: url(./images/cloud-fade-white.JPG);
  background-size: cover;
  height: 200px;
}
