#covid1 {
    background-image: url(./images/covid-woke-landing.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}
#covid2 {
    background-image: url(./images/covid-woke-results.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
 #directory1 {
    background-image: url(./images/employee-directory.PNG);
    background-size: cover;
    height: 50px;
    width: 50px
}
#directory2 {
    background-image: url(./images/employee-directory.PNG);
    background-size: cover;
    height: 50px;
    width: 50px
}
#review1 {
    background-image: url(./images/login.PNG);
    background-size: cover;
    height: 50px;
    width: 50px
}
#review2 {
    background-image: url(./images/selected+associated-reviews.PNG);
    background-size: cover;
    height: 50px;
    width: 50px
}
#fitness1 {
    background-image: url(./images/homepage.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
#fitness2 {
    background-image: url(./images/dashboard.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
#quiz1 {
    background-image: url(./images/quiz_load.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
#quiz2 {
    background-image: url(./images/quiz_interface.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
#weather1 {
    background-image: url(./images/weatherDash.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
#weather2 {
    background-image: url(./images/weatherDash.png);
    background-size: cover;
    height: 50px;
    width: 50px
}
