.nav {
   background-color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 4em;
   margin: auto;
   width: 100vw;
}
.nav-sec {
   display: flex;
   justify-content: space-between;
   margin: auto;
   width: 100vw;
}
.nav-1 {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   margin: auto;
   width: 100vw;
}
.nav-2 {
   display: none;
   /* display: flex; */
   flex-direction: column;
   justify-content: center;
   width: 100vw;
}
.nav-3 {
   display: none;
   /* display: flex; */
   flex-direction: column;
   justify-content: center;
   width: 100vw;
}
.home-icon {
   height: 3em;
   margin: auto;
   width: 3em;
}
.nav-links {
   color: white;
   display: flex;
   flex-direction: column;
   height: 1em;
   justify-content: center;
   margin: auto;
   padding-top: 0.75em;
}
.nav-icons {
   display: flex;
   height: 1em;
   margin: auto;
}
