/* .home-icon {
   height: 50px;
   width: 50px;
   margin: 0 1.5% 0 1.5%;
   transition: 0.5s;
} */
.nav {
   height: 4em;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   background-color: black;
   padding: 0;
}
.nav-sec {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: max-content;
   height: 100%;
}
.nav-1 {
   display: flex;
   align-self: flex-start;
}
.nav-2 {
   margin: auto;
   margin-right: 0;
   padding-right: 1rem;
   display: flex;
   justify-content: flex-end;
   align-self: center;
}
.nav-3 {
   display: flex;
   align-self: flex-end;
   margin: auto 0;
   padding-right: 1.5rem;
   padding-left: 1rem;
}
.nav-links {
   display: flex;
   justify-content: flex-end;
   /* margin-left: 15px;
  margin-right: 12px; */
   color: white;
   margin: auto 0;
}
.nav-icons {
   width: 1.5rem;
   height: 1.5rem;
   display: flex;
}

a#home-link,
a.nav-links,
a.nav-icon-links {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}
a#home-link:hover,
a.nav-links:hover,
a.nav-icon-links:hover {
   color: white;
   background-color: rgb(45, 45, 45);
}
a#home-link {
   display: flex;
   justify-self: flex-start;
   padding: 1rem;
}
img.home-icon {
   width: 2.55rem;
   height: auto;
   padding: auto;
}
a.nav-links {
   text-decoration: none;
   padding: 1rem;
}
a.nav-icon-links {
   width: 100%;
   padding: 1rem;
}
/* .nav-icon-links {

} */
.nav-divider {
   height: 100%;
   width: 0.05rem;
   background-color: grey;
   margin: 0;
}
